<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../Assets/Vendors/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Assets/Vendors/bootstrap-4.1.1/bootstrap.min.css">
    <link rel="stylesheet" href="../../Assets/css/admin.css">
</head>

<body>
    <nav class="sidenav">
        <a href="trang-chu.html" class="text-white back-btn p-3">
            <i class="fa fa-long-arrow-left"></i> Trở về trang chủ</a>
        <ul class="navbar-nav py-4">
            <li class="nav-item">

                <p class="mb-0 py-3 px-4 logo">Im<span>LCode</span>
                </p>

            </li>
            <li class="nav-item">
                <p class="nav-link mb-0 py-3 px-4" id="nav_user_name"></p>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 px-4 active" href="admin.html">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 px-4" href="admin-hv.html">Quản Lý Học Viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 px-4 active_btn" href="admin-kh.html">Quản Lý Khóa Học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 px-4" href="#" id="btn_Exit">Đăng xuất</a>
            </li>
        </ul>
    </nav>


    <section class="main">
        <h1 class="py-4 mb-0">Dashboard</h1>
        <div id="chatbox">
            <div class="panel" id="panel">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="">
                            <span class="chat-img pull-left">

                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <span class="chat-img pull-left">

                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <span class="chat-img pull-left">

                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <span class="chat-img pull-left">

                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <span class="chat-img pull-left">

                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div id="present" class="py-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="content">
                            <p class="mb-0 text-center">
                                <span class="d-block title-number">32</span> Số người dùng hiện Online
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <p class="mb-0 text-center">
                                <span class="d-block title-number">245</span> Số người truy cập hôm nay
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <p class="mb-0 text-center">
                                <span class="d-block title-number">33</span> Hòm thư tin nhắn của bạn
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <p class="mb-0 text-center">
                                <span class="d-block title-number">33</span> Người dùng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myChart" class="py-4"></div>
    </section>

    <section id="footer">
        <p class="mb-0">
            @ Bản quyền thuộc về ImLCode
        </p>
    </section>

    <script src="../../Assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../Assets/js/popper.min.js"></script>
    <script src="../../Assets/js/bootstrap.min.js"></script>



    <script src="https://code.highcharts.com/highcharts.js"></script>


    <script src="../Controllers/admin_menu_options.js"></script>
    <script src="../Models/NguoiDung.js"></script>
    <script src="../Controllers/check_admin.js"></script>
    <script src="../Controllers/admin.js"></script>

</body>

</html>